.custom-cta__wrap {
  $wpcontent-padding-left: 20px;

  @include box-sizing(box-border);
  
  display: grid;
  width: calc(100% + #{$wpcontent-padding-left});
  min-height: calc(100vh - #{$padding-content-bottom + 40});
  margin-left: $wpcontent-padding-left * (-1);

  grid-template-rows: auto 1fr;
  grid-template-areas: '#{$grid-area-header}' '#{$grid-area-content}';
  grid-template-columns: 1fr;

  > div { @include box-sizing(box-border); }
}
